@charset "UFT-8";

.header-bg {
  background-color: var(--black-0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu a {
  padding: 8px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.header-menu a:hover {
  background-color: var(--white-1);
  color: var(--black-2);
}

@media (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-menu {
    gap: 20px;
  }
}

/* Footer */
.footer-bg {
  background-color: var(--black-0);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  padding: 60px 20px;
}

.footer > a {
  margin: 0 14rem 14rem 0;
}

.footer-contato h3,
.footer-redes h3 {
  margin-bottom: 20px;
}

.footer-contato li {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 16px;
}

.footer-redes li {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 16px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .footer > a {
    display: none;
  }
}

@media (max-width: 400px) {
  
}
