@import "UFT-8";

.sobre-bg {
  box-shadow: inset 0px -120px 0px black;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.sobre h1 {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.sobre-conteudo {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  padding-bottom: 200px;
}

.sobre-conteudo p {
  margin-bottom: 32px;
}

.sobre-conteudo ul {
  line-height: 2;
}

.sobre-imagem {
  grid-column: 2;
}
