@import "UFT-8";

.sobre-bg {
  box-shadow: inset 0px -120px 0px black;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.sobre h1 {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.sobre-conteudo {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  padding-bottom: 200px;
}

.sobre-conteudo p {
  margin-bottom: 32px;
}

.sobre-conteudo ul {
  line-height: 2;
}

.sobre-conteudo ul li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(to right, var(--orange-0), var(--yellow-4));
  margin: 0px 6px 4px 0px;
}

.sobre-imagem {
  grid-column: 2;
}

@media (max-width: 800px) {
  .sobre-bg {
    padding-top: 40px;
    box-shadow: inset 0px -50px 0px black;
  }

  .sobre {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .sobre h1 {
    margin-bottom: 0px;
  }

  .sobre-conteudo {
    grid-column: 1;
    padding-bottom: 0px;
  }

  .sobre-conteudo p {
    margin-bottom: 16px;
  }
}
